
# Byte-compiled / cache dosyaları
__pycache__/
*.py[cod]

# Sanal ortam
venv/
.env

# Kullanıcıdan yüklenen ve işlenen veriler
frontend/static/uploads/
frontend/static/processed/
backend/uploads/
/static/

# IDE / Editor / araç dosyaları
.vscode/
.idea/
.claude/

# Mac sistem dosyası
.DS_Store

# Geçici log / cache / test dosyaları
*.log

el.jpeg